input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.nav-underline .nav-link.active,
.nav-underline .nav-link:hover {
    border-bottom-color: #ff7c4c;
    /* Sunset red */
    border-bottom-width: 2px;
    /* Thicker underline for drama */
    transition: border-color 0.3s ease, border-width 0.3s ease;
}

.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

button.btn[disabled] {
    border-color: transparent !important;
    color: #6c757d;
    /* optional: gray text like default disabled */
}

.action-btn-warning:hover {
    background-color: var(--bs-warning);
    color: black;
}

.action-btn-danger:hover {
    background-color: var(--bs-danger);
    color: white;
}